.dimmed-lamp {
  width: 100px;
  height: 100px;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dimmed-lamp .dimmer {
  width: 80%;
}

.dimmed-lamp .dimmer > input {
  width: 100%;
}